.links {
	position: absolute;
	left: 30%;
	top: 30%;
}

.links p {
	padding: 1em;
}

.links a {
	text-decoration: none;
}

.links a:hover {
	text-decoration: underline;
}

.links p:nth-child(1) { transform: rotate(-20deg); }
.links p:nth-child(2) { transform: rotate(-5deg); }
.links p:nth-child(3) { transform: rotate(-10deg); }
