body {
  background: url("city.jpg") no-repeat center;
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:hidden;
}

.center-quote {
  align-items: center;
  display: flex;
  justify-content: center;
  white-space: pre-line;
  font-family: monospace;
  margin: 15px;
  color: indigo;
}
